@charset "UTF-8";
/* No files to import found in compass/css3/** */
/* line 7, ../../../sass/components/_ckeditor.scss */
img {
  max-width: 100%; }

/* line 11, ../../../sass/components/_ckeditor.scss */
figure {
  margin: 0;
  border: 1px solid #ddd; }
  /* line 19, ../../../sass/components/_ckeditor.scss */
  figure > br {
    display: none; }
  /* line 29, ../../../sass/components/_ckeditor.scss */
  figure figcaption {
    text-align: center;
    box-sizing: border-box;
    padding: .5em 1em;
    background-color: #f6f3f3;
    color: #777; }

/* line 38, ../../../sass/components/_ckeditor.scss */
blockquote {
  color: rgba(5, 40, 102, 0.9);
  padding: 1em 5em;
  margin: 1em 0;
  border: 1px solid #ddd;
  background-color: #f6f3f3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  /* line 47, ../../../sass/components/_ckeditor.scss */
  blockquote::before {
    content: '';
    font-family: Icons;
    color: rgba(77, 107, 146, 0.3);
    font-size: 2.5em;
    position: absolute;
    left: 1em; }
  /* line 56, ../../../sass/components/_ckeditor.scss */
  blockquote .rteright {
    font-size: .9em;
    font-weight: bold;
    color: #777; }

/* line 63, ../../../sass/components/_ckeditor.scss */
table {
  max-width: 100%;
  margin: 0 auto; }

/* General indentation & positioning classes */
/* line 70, ../../../sass/components/_ckeditor.scss */
.rteindent1 {
  margin-left: 40px; }

/* line 74, ../../../sass/components/_ckeditor.scss */
.rteindent2 {
  margin-left: 80px; }

/* line 78, ../../../sass/components/_ckeditor.scss */
.rteindent3 {
  margin-left: 120px; }

/* line 82, ../../../sass/components/_ckeditor.scss */
.rteindent4 {
  margin-left: 160px; }

/* line 86, ../../../sass/components/_ckeditor.scss */
.rteleft {
  text-align: left; }

/* line 90, ../../../sass/components/_ckeditor.scss */
.rteright {
  text-align: right; }

/* line 94, ../../../sass/components/_ckeditor.scss */
.rtecenter {
  text-align: center; }

/* line 98, ../../../sass/components/_ckeditor.scss */
.rtejustify {
  text-align: justify; }

/* line 102, ../../../sass/components/_ckeditor.scss */
.ibimage_left {
  float: left; }

/* line 106, ../../../sass/components/_ckeditor.scss */
.ibimage_right {
  float: right; }

/* line 110, ../../../sass/components/_ckeditor.scss */
.orange-bullets,
.editor-content,
.ui.modal.course-content-modal,
.cke_editable {
  text-align: justify; }
  /* line 117, ../../../sass/components/_ckeditor.scss */
  .orange-bullets img,
  .editor-content img,
  .ui.modal.course-content-modal img,
  .cke_editable img {
    height: auto; }
  /* line 121, ../../../sass/components/_ckeditor.scss */
  .orange-bullets ul,
  .editor-content ul,
  .ui.modal.course-content-modal ul,
  .cke_editable ul {
    list-style: none;
    text-indent: -.5em; }
    /* line 128, ../../../sass/components/_ckeditor.scss */
    .orange-bullets ul > li::before,
    .editor-content ul > li::before,
    .ui.modal.course-content-modal ul > li::before,
    .cke_editable ul > li::before {
      content: '♦';
      color: #e4621c;
      position: relative;
      right: .5em; }
    /* line 137, ../../../sass/components/_ckeditor.scss */
    .orange-bullets ul ol,
    .editor-content ul ol,
    .ui.modal.course-content-modal ul ol,
    .cke_editable ul ol {
      margin-left: .6em;
      text-indent: 0; }
    /* line 144, ../../../sass/components/_ckeditor.scss */
    .orange-bullets ul ul li::before,
    .editor-content ul ul li::before,
    .ui.modal.course-content-modal ul ul li::before,
    .cke_editable ul ul li::before {
      content: '●'; }
  /* line 151, ../../../sass/components/_ckeditor.scss */
  .orange-bullets ul,
  .orange-bullets ol,
  .editor-content ul,
  .editor-content ol,
  .ui.modal.course-content-modal ul,
  .ui.modal.course-content-modal ol,
  .cke_editable ul,
  .cke_editable ol {
    text-align: justify; }
    /* line 155, ../../../sass/components/_ckeditor.scss */
    .orange-bullets ul li,
    .orange-bullets ol li,
    .editor-content ul li,
    .editor-content ol li,
    .ui.modal.course-content-modal ul li,
    .ui.modal.course-content-modal ol li,
    .cke_editable ul li,
    .cke_editable ol li {
      margin-bottom: .5em; }
    /* line 159, ../../../sass/components/_ckeditor.scss */
    .orange-bullets ul ul,
    .orange-bullets ul ol,
    .orange-bullets ol ul,
    .orange-bullets ol ol,
    .editor-content ul ul,
    .editor-content ul ol,
    .editor-content ol ul,
    .editor-content ol ol,
    .ui.modal.course-content-modal ul ul,
    .ui.modal.course-content-modal ul ol,
    .ui.modal.course-content-modal ol ul,
    .ui.modal.course-content-modal ol ol,
    .cke_editable ul ul,
    .cke_editable ul ol,
    .cke_editable ol ul,
    .cke_editable ol ol {
      margin-top: .5em; }

/* Custom class styling for CKEditor */
/* line 168, ../../../sass/components/_ckeditor.scss */
.img-center {
  text-align: center;
  max-width: 60%;
  margin: 0 auto; }
  /* line 173, ../../../sass/components/_ckeditor.scss */
  .img-center img {
    display: inline; }

/* line 182, ../../../sass/components/_ckeditor.scss */
.img-full {
  display: block;
  text-align: center;
  max-width: 60%;
  margin: 0 auto; }

/* line 194, ../../../sass/components/_ckeditor.scss */
.img-left {
  max-width: 60%;
  margin: 0 auto; }

/* line 206, ../../../sass/components/_ckeditor.scss */
.img-right {
  max-width: 60%;
  margin: 0 auto; }

/* line 217, ../../../sass/components/_ckeditor.scss */
.side-by-side-table {
  display: block;
  clear: both;
  max-width: 100%; }
  /* line 223, ../../../sass/components/_ckeditor.scss */
  .side-by-side-table th,
  .side-by-side-table td {
    text-align: center; }
  /* line 228, ../../../sass/components/_ckeditor.scss */
  .side-by-side-table img {
    display: block;
    margin: 0 auto; }

/* line 267, ../../../sass/components/_ckeditor.scss */
.fixed-layout {
  table-layout: fixed;
  border: 0; }
  /* line 271, ../../../sass/components/_ckeditor.scss */
  .fixed-layout td,
  .fixed-layout th {
    border: 0; }
  /* line 276, ../../../sass/components/_ckeditor.scss */
  .fixed-layout th {
    text-align: center; }
  /* line 280, ../../../sass/components/_ckeditor.scss */
  .fixed-layout td {
    text-align: left; }

/* line 285, ../../../sass/components/_ckeditor.scss */
.info-table,
.info-table.fixed-layout {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 2em;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2; }
  /* line 295, ../../../sass/components/_ckeditor.scss */
  .info-table tr,
  .info-table.fixed-layout tr {
    border-top: 1px dotted #ddd; }
  /* line 299, ../../../sass/components/_ckeditor.scss */
  .info-table td,
  .info-table th,
  .info-table.fixed-layout td,
  .info-table.fixed-layout th {
    border-left: 1px dotted #ddd; }
  /* line 304, ../../../sass/components/_ckeditor.scss */
  .info-table td,
  .info-table.fixed-layout td {
    padding: .8em 1em; }
  /* line 308, ../../../sass/components/_ckeditor.scss */
  .info-table th,
  .info-table.fixed-layout th {
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    background-color: #064771;
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal; }

/* line 318, ../../../sass/components/_ckeditor.scss */
.text-center {
  text-align: center; }

/* line 322, ../../../sass/components/_ckeditor.scss */
.slide-heading {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: rgba(5, 40, 102, 0.9);
  margin-bottom: 1.2em; }
  /* line 329, ../../../sass/components/_ckeditor.scss */
  .slide-heading::after {
    bottom: -25%; }
  /* line 333, ../../../sass/components/_ckeditor.scss */
  .slide-heading, .slide-heading.strong {
    font-weight: 500; }

/* line 339, ../../../sass/components/_ckeditor.scss */
.slide-subheading {
  display: block;
  text-align: left;
  font-size: 1.1em;
  color: #000;
  border-bottom: 2px solid #e7e7e7;
  padding: .5em 0; }

/* Anything inside this will be applicable only for the editor in admin area */
/* line 351, ../../../sass/components/_ckeditor.scss */
.cke_editable .fixed-layout {
  border: 2px dotted #eee; }
  /* line 354, ../../../sass/components/_ckeditor.scss */
  .cke_editable .fixed-layout td, .cke_editable .fixed-layout th {
    border: 2px dotted #eee; }
/* line 360, ../../../sass/components/_ckeditor.scss */
.cke_editable table td, .cke_editable table th {
  min-width: 2em; }

/* Anything inside this will be applicable only for the website */
/* Anything inside this will be applicable for both, editor and the editor-content, but not anywhere else on the website */
/* line 24, ../../../sass/layouts/course-info/course-info.layout.scss */
body {
  transition: margin .4s ease; }

/* line 38, ../../../sass/layouts/course-info/course-info.layout.scss */
img {
  max-width: 100%; }

/* line 42, ../../../sass/layouts/course-info/course-info.layout.scss */
.pane-page-content {
  min-height: 100%; }
  /* line 47, ../../../sass/layouts/course-info/course-info.layout.scss */
  .pane-page-content > .pane-title {
    display: none; }
  /* line 55, ../../../sass/layouts/course-info/course-info.layout.scss */
  .pane-page-content .ui.dimmer.active.pane-page-dimmer {
    z-index: 100; }

/* line 64, ../../../sass/layouts/course-info/course-info.layout.scss */
.course-content-items.ui.vertical.menu {
  background-color: rgba(79, 122, 225, 0.7);
  max-height: 150px;
  overflow-y: auto; }
  /* line 69, ../../../sass/layouts/course-info/course-info.layout.scss */
  .course-content-items.ui.vertical.menu .item {
    font-size: 1em;
    padding-left: .5em;
    color: rgba(255, 255, 255, 0.7); }
    /* line 74, ../../../sass/layouts/course-info/course-info.layout.scss */
    .course-content-items.ui.vertical.menu .item:hover {
      background-color: #4f7ae1;
      color: white; }

/* line 82, ../../../sass/layouts/course-info/course-info.layout.scss */
.course-title a {
  color: rgba(255, 255, 255, 0.9); }
  /* line 85, ../../../sass/layouts/course-info/course-info.layout.scss */
  .course-title a:hover {
    color: #fff; }

/* line 91, ../../../sass/layouts/course-info/course-info.layout.scss */
.instructors {
  color: rgba(255, 255, 255, 0.5); }

/* line 95, ../../../sass/layouts/course-info/course-info.layout.scss */
.course-item-description {
  margin: 2em 0; }

/* line 100, ../../../sass/layouts/course-info/course-info.layout.scss */
.ui.dimmer {
  background-color: rgba(50, 50, 50, 0.9); }

/* line 105, ../../../sass/layouts/course-info/course-info.layout.scss */
.ui.button .icon.right {
  float: right;
  margin-left: .5em; }

/* line 111, ../../../sass/layouts/course-info/course-info.layout.scss */
.ui.progress-header {
  line-height: 2em; }

/* line 115, ../../../sass/layouts/course-info/course-info.layout.scss */
.ui.cards {
  margin: 0; }

/* line 119, ../../../sass/layouts/course-info/course-info.layout.scss */
.ui.card.course-card {
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background-color, 0.4s, ease-in;
  -o-transition: background-color, 0.4s, ease-in;
  -webkit-transition: background-color, 0.4s, ease-in;
  transition: background-color, 0.4s, ease-in; }
  /* line 10, ../../../sass/mixins/_box.scss */
  .ui.card.course-card:hover {
    background-color: #f9f9f9; }
  /* line 146, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .ui.button {
    font-weight: bold;
    padding: .5em 1em;
    font-size: 1.1em; }
    /* line 4, ../../../sass/mixins/_button.scss */
    .ui.card.course-card .ui.button, .ui.card.course-card .ui.button:active {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.9);
      background-color: #6588cb;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      transition: color .4s ease-in, background-color .4s ease-in; }
    /* line 13, ../../../sass/mixins/_button.scss */
    .ui.card.course-card .ui.button.active, .ui.card.course-card .ui.button:hover {
      color: #fff;
      background-color: #4670c1; }
  /* line 170, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .edit-link {
    color: rgba(255, 255, 255, 0.6);
    display: inline; }
  /* line 175, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .ui.tag.label {
    font-size: .65em; }
  /* line 179, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .image {
    overflow: hidden; }
    /* line 182, ../../../sass/layouts/course-info/course-info.layout.scss */
    .ui.card.course-card .image > div {
      background-size: cover;
      background-position: center top;
      opacity: .9;
      -moz-transition: -moz-transform 0.4s ease-out, opacity 0.4s ease-out;
      -o-transition: -o-transform 0.4s ease-out, opacity 0.4s ease-out;
      -webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.4s ease-out;
      transition: transform 0.4s ease-out, opacity 0.4s ease-out; }
  /* line 190, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .image,
  .ui.card.course-card .image > div {
    height: 150px; }
  /* line 195, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .meta {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5em;
    color: rgba(6, 49, 126, 0.9); }
  /* line 203, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .header {
    text-align: center; }
    /* line 206, ../../../sass/layouts/course-info/course-info.layout.scss */
    .ui.card.course-card .header > a {
      color: rgba(6, 49, 126, 0.9);
      font-weight: bold;
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  /* line 217, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .content {
    background-color: #fdecd0; }
  /* line 221, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .description {
    clear: none; }
  /* line 225, ../../../sass/layouts/course-info/course-info.layout.scss */
  .ui.card.course-card .extra.content {
    line-height: 2.5rem;
    background-color: #f6f3f3;
    font-weight: bold;
    color: rgba(6, 49, 126, 0.9); }

/* line 235, ../../../sass/layouts/course-info/course-info.layout.scss */
.cover-image img {
  display: block;
  width: 100%;
  opacity: .95; }

/*# sourceMappingURL=course-info.layout.no-query.css.map */
