// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$mobile: 480px;
$tab: 768px;
$tab2: 992px;
$desk: 1024px;
$large: 1200px;

@include add-grid(12);
@include add-gutter(1 / 3);

@include sgs-change('debug', true);
