$open-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$pt-sans: 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro: 'Maven Pro', Helvetica, Arial, sans-serif;
$serif: serif, sans-serif;

$base-font-size: 15px;
$base-line-height: 25px;
